<!DOCTYPE html>
<html>
    <head>
        <title>LoginApp</title>
        <link rel="stylesheet" href="/css/materialize.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        {{{body}}}
    </body>
</html>